/* from https://web.dev/css-scroll-snap/ */
:root {
  --gallery-height: 400px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* max-width: 800px; */
  padding: 0 10;
  height: var(--gallery-height);
  /* background-color: gray; */
  scroll-snap-stop: always;
  scroll-snap-align: top;
}

.gallery_scroller {
   /* snap proximity on horizontal axis, also add smooth scroll */
  height: 80%;
  margin:auto;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  /* height: var(--gallery-height); */
  /* Enable Safari touch scrolling physics */
  -webkit-overflow-scrolling: touch;
  /* cursor: grab; */
  overflow: auto;
}
.gallery_scroller::-webkit-scrollbar {
  display: none;
}

.gallery_scroller div {
   /* snap align center  */
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin: 10px;
  position: relative;
  border-radius: 10px;
  /* background-color: red; */
  /* min-width: var(--gallery-height); */
  min-width: 500px;
  max-width: 80vmin;
  /* min-height: 50vmin; */
  max-height: 500px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .gallery_scroller div:hover {
  transform: scale(1.05);
  transition: transform 1s;
  z-index: 1;
} */

.gallery_scroller img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  /* opacity:0; */
  /* margin: auto; */
}


.gallery_scroller div.colored_card {
  min-width: 75%;
  min-height: 95%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.gallery_scroller div.colored_card > p {
  font-size: 10em;
  margin:0;
  padding: 0;
}


.gallery div.note {
  position: absolute;

  /* vertically align center */
  top:  90%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

  background: rgba(0,0,0, 0.6);
  padding: 20px;
  position: absolute;

  font-size: 1em;
  color: white;
}


.gallery .btn {
  position: absolute;
  top: 40%;
  /* transform: translateY(-50%); */

  height: 60px;
  width: 30px;

  border-radius: 2px;
  background-color: rgba(0,0,0,0.5);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;

  cursor: pointer;
}
.gallery .btn:hover {
  background-color: lightgray;
  transition: background-color 1s;
}

.gallery .btn.next {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  /* background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M25.557 14.7L13.818 2.961 16.8 0l16.8 16.8-16.8 16.8-2.961-2.961L25.557 18.9H0v-4.2z" fill="%23FFF" fill-rule="evenodd"/></svg>'); */
  right: 0;
}

.gallery .btn.prev {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  /* background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M33.6 14.7H8.043L19.782 2.961 16.8 0 0 16.8l16.8 16.8 2.961-2.961L8.043 18.9H33.6z" fill="%23FFF" fill-rule="evenodd"/></svg>'); */
  left: 0;
}

.gallery_scroller > div.colored_card:nth-of-type(1) { background-color: #e8eaf6; }
.gallery_scroller > div.colored_card:nth-of-type(2) { background-color: #c5cae9; }
.gallery_scroller > div.colored_card:nth-of-type(3) { background-color: #9fa8da; }
.gallery_scroller > div.colored_card:nth-of-type(4) { background-color: #7986cb; }
.gallery_scroller > div.colored_card:nth-of-type(5) { background-color: #5c6bc0; }
.gallery_scroller > div.colored_card:nth-of-type(6) { background-color: #3f51b5; }
.gallery_scroller > div.colored_card:nth-of-type(7) { background-color: #3949ab; }
.gallery_scroller > div.colored_card:nth-of-type(8) { background-color: #303f9f; }
.gallery_scroller > div.colored_card:nth-of-type(9) { background-color: #283593; }
.gallery_scroller > div.colored_card:nth-of-type(10) { background-color: #1a237e; }

.gallery_scroller > div.colored_card:nth-of-type(11) { background-color: #827717; }
.gallery_scroller > div.colored_card:nth-of-type(12) { background-color: #9E9D24; }
.gallery_scroller > div.colored_card:nth-of-type(13) { background-color: #AFB42B; }
.gallery_scroller > div.colored_card:nth-of-type(14) { background-color: #C0CA33; }
.gallery_scroller > div.colored_card:nth-of-type(15) { background-color: #CDDC39; }
.gallery_scroller > div.colored_card:nth-of-type(16) { background-color: #D4E157; }
.gallery_scroller > div.colored_card:nth-of-type(17) { background-color: #DCE775; }
.gallery_scroller > div.colored_card:nth-of-type(18) { background-color: #E6EE9C; }
.gallery_scroller > div.colored_card:nth-of-type(19) { background-color: #F0F4C3; }
.gallery_scroller > div.colored_card:nth-of-type(20) { background-color: #F9FBE7; }
