/* from https://web.dev/css-scroll-snap/ */
:root {
  --gallery-height: 40rem;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* max-width: 800px; */
  padding-bottom: 2rem;
}

.gallery-scroller {
   /* snap proximity on horizontal axis, also add smooth scroll */
  height: 100%;
  margin:auto;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  /* height: var(--gallery-height); */
  /* Enable Safari touch scrolling physics */
  -webkit-overflow-scrolling: touch;
  /* cursor: grab; */
  overflow: auto;
  padding-bottom: 2rem;
}
.gallery-scroller::-webkit-scrollbar {
  display: none;
}

.gallery-scroller div {
   /* snap align center  */
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin: 10px;
  position: relative;
  border-radius: 10px;
  min-width: 60%;
  max-width: 60%;
  max-height: 25em;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.gallery-scroller div:first-of-type {
  margin-left: 50%;
}
.gallery-scroller div:last-of-type {
  margin-right: 50%;
}


.gallery-scroller img {
  width: 100%;
  object-fit: scale-down;
  object-position: center;
}


.gallery-scroller div.colored_card {
  min-width: 75%;
  max-height: 95%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.gallery-scroller div.colored_card > p {
  font-size: 10em;
  margin:0;
  padding: 0;
}


.gallery div.note {
  position: absolute;

  /* vertically align center */
  top:  90%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

  background: rgba(0,0,0, 0.6);
  padding: 20px;
  position: absolute;

  font-size: 1em;
  color: white;
}


.gallery .btn {
  position: absolute;
  transform: translateY(0%);

  height: 10em;
  width: 3em;

  border-radius: 2px;
  background-color: rgba(0,0,0,0.5);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;

  cursor: pointer;
}
.gallery .btn:hover {
  background-color: lightgray;
  transition: background-color 1s;
}

.gallery .btn.next {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  right: 0;
}

.gallery .btn.prev {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  left: 0;
}


/* Enlarged image */
#larger-image {
  display: none;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  /* Make sure it's centered vertically */
  max-width: var(--page-max-width);
  margin: auto;
  z-index: 111;
}

#larger-image img {
  width: 80%;
  max-width: 70vw;
  max-height: 60vh;
  object-fit: scale-down;
}

@media screen and (max-width: 500px) {
  #larger-image img {
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
  }
}

/* Background overlay, covering the whole window */
#image-overlay {
/* https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #444;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#project-image-title {
  color: lightgray;
}

.gallery-scroller > div.colored_card:nth-of-type(1) { background-color: #e8eaf6; }
.gallery-scroller > div.colored_card:nth-of-type(2) { background-color: #c5cae9; }
.gallery-scroller > div.colored_card:nth-of-type(3) { background-color: #9fa8da; }
.gallery-scroller > div.colored_card:nth-of-type(4) { background-color: #7986cb; }
.gallery-scroller > div.colored_card:nth-of-type(5) { background-color: #5c6bc0; }
.gallery-scroller > div.colored_card:nth-of-type(6) { background-color: #3f51b5; }
.gallery-scroller > div.colored_card:nth-of-type(7) { background-color: #3949ab; }
.gallery-scroller > div.colored_card:nth-of-type(8) { background-color: #303f9f; }
.gallery-scroller > div.colored_card:nth-of-type(9) { background-color: #283593; }
.gallery-scroller > div.colored_card:nth-of-type(10) { background-color: #1a237e; }

.gallery-scroller > div.colored_card:nth-of-type(11) { background-color: #827717; }
.gallery-scroller > div.colored_card:nth-of-type(12) { background-color: #9E9D24; }
.gallery-scroller > div.colored_card:nth-of-type(13) { background-color: #AFB42B; }
.gallery-scroller > div.colored_card:nth-of-type(14) { background-color: #C0CA33; }
.gallery-scroller > div.colored_card:nth-of-type(15) { background-color: #CDDC39; }
.gallery-scroller > div.colored_card:nth-of-type(16) { background-color: #D4E157; }
.gallery-scroller > div.colored_card:nth-of-type(17) { background-color: #DCE775; }
.gallery-scroller > div.colored_card:nth-of-type(18) { background-color: #E6EE9C; }
.gallery-scroller > div.colored_card:nth-of-type(19) { background-color: #F0F4C3; }
.gallery-scroller > div.colored_card:nth-of-type(20) { background-color: #F9FBE7; }
