/* Currently Underdevelopment */
* {
 font-family: Georgia, SimSun, "宋体", STSong, "华文宋体", serif;
}

body {
  padding: 5%;
  max-width:1000px;
  min-width:550px;
  margin: auto;
}
/* :lang(zh-Hant) 	{font-family: Kai,KaiTi,serif;}
:lang(zh-Hans) 	{font-family: STSong,SimSun,serif;} */
/* Language support */

hr {
    border: none;
    border-top: 2px solid lightgray;
    overflow: visible;
    text-align: center;
    height: 5px;
}


a {
  color: MidnightBlue
}
a:hover {
  background-color: AliceBlue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 1s, box-shadow 1s;
}


ul.nav {
  display: inline-block;
  list-style-type: none;
  min-width: 90%;
  margin: auto;
  background-color: lightgray
  position:relative;
  left:0;
}

ul.nav li {
  display: inline-block;
  padding: .5vh;
}
ul.nav li.r {float:right;}
ul.nav li.l {float:left;}
ul.nav li a {
  padding: .5vh;
  text-decoration: none;
  /* background-color: lightgray; */
}



h1 {
  font-size: 200%;
  color: MidnightBlue;
}
h3 {
  color: #222
}

p.copyright {
  font-size: 50%;
  text-align: center;
}

.header-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.header-column-l {
  flex: 50%;
}
.header-column-r {
  flex: 50%;
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 .5vh .3vh #ccc; border: 0.5vh solid #222; */
}
