/* Currently Underdevelopment */
@import "gallery.css";
@import "Fontawesome/css/all.css";

* {
 font-family: Georgia, SimSun, "宋体", STSong, "华文宋体", serif;
}



/* HEADER STUFF */
#header-nav {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 1%;
  min-width:550px;
  width: 90%;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  border-radius: 10px;
}

#content {
  margin-top: 2em;
}


.header-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}
.header-column-l {
  flex: 45%;
}
.header-column-r {
  flex: 45%;
}



h1 {
  font-size: 200%;
  color: MidnightBlue;
}
h3 {
  color: #222
}

body {
  padding: 0%;
  padding-top: 1vh;
  width: 100%;
  max-width:1000px;
  min-width:550px;
  margin: auto;
  background-color: white;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  scroll-behavior: smooth;
}
body:after {
  content: "";
  background: url(assets/Pattern.svg);
  background-repeat: repeat;
  background-size: 100px;
  opacity: 0.1;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  position: fixed;
  z-index: -1;
  animation: bgLinear 10s linear infinite;
}
/* :lang(zh-Hant) 	{font-family: Kai,KaiTi,serif;}
:lang(zh-Hans) 	{font-family: STSong,SimSun,serif;} */
/* Language support */
@keyframes fadeInAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes bgLinear {
  from {background-position: 0 0;}
  to {background-position: 100px 0;}
}




img {
  vertical-align: top;
  overflow: hidden;
}


.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 .5vh .3vh #ccc; border: 0.5vh solid #222; */
}
.pattern-filled {
  width:100%; background-image:url('assets/Pattern.svg');
  background-size: 100px;
}



hr {
    border: none;
    border-top: 2px solid lightgray;
    overflow: visible;
    text-align: center;
    height: 5px;
}


a {
  color: MidnightBlue
}
p a:hover {
  background-color: AliceBlue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 1s, box-shadow 1s;
}


ul.nav {
  display: table;
  list-style-type: none;
  vertical-align: middle;
  width: 80%;
  overflow: inherit;
  margin: auto;
  padding: 0;
  background-color: white;
}

ul.nav li {
  display: table-cell;
  justify-content: space-around;
  text-align: center;
  border-right: solid 2px lightgray;
}
ul.nav li:first-child {  border-left: solid 2px lightgray;}
ul.nav li div {
  display: inline-block;
  padding: 1vh;
}
ul.nav li div{
  width: 100px;
  padding: .5vh;
  text-decoration: none;
  /* background-color: lightgray; */
}
ul.nav li.inactive div:hover {
  transform: scale(1.2);
  background-color: AliceBlue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 1s, box-shadow 1s, transform 1s;
}
ul.nav li.active {
  background-color: lightgray;
}
ul.nav li.active div:hover {
  transform: none;
  background-color: none;
  box-shadow: none;
  transition: none;
}




/* CARDS */
.card {
  width:80%;
  margin: auto;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}
/* .card:hover {
  transform: scale(1.1);
  transition: background-color 1s, box-shadow 1s, transform 1s;
} */

.card-content {
  display: grid;
  grid-template-areas: "img text";
  grid-template-columns: 0.38fr 0.62fr;
}
.card-content img {
  object-fit: cover;
  width: 100%;
  height:22em;
  margin-bottom:0;
  overflow:hidden;
}

.card-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  vertical-align: top;
}
.card-column-l {
  flex: 38%;
  vertical-align: top;
}
.card-column-r {
  flex: 52%;
  vertical-align: top;
}



/* The animation code */
@keyframes background-highlight {
  0% {background-color: AliceBlue;}
  50% {background-color: lightgray;}
  100% {background-color: AliceBlue;}
}

/* The element to apply the animation to */
.background-highlight {
  animation-name: background-highlight;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


p.copyright {
  background-color: white;
  display: block;
  width: 40%;
  padding: 1em;
  font-size: 50%;
  text-align: center;
  margin:auto;
}
