/* Currently Underdevelopment */
@import "gallery.css";
@import "Fontawesome/css/all.css";
@import "photo-wall.css";

* {
  font-family: Georgia, SimSun, "宋体", STSong, "华文宋体", serif;
}

:root {
  --header-nav-height: 18rem;
  --header-font-size: 2rem;
  --page-max-width: 1080px;
  --page-min-width: 550px;
  --header-logo-size: calc(var(--header-font-size)*3.2)
}

/* html {
  height: 100vh;
  overflow-y: hidden;
} */
/* need this for scroll snapping */

html, body, body:after {
  scroll-behavior: smooth;
  min-width: var(--page-min-width);
  max-width: var(--page-max-width);
  margin: auto;
}



body {
  padding: 0;
  padding-top: 0;
  width: 100%;
  margin: auto;
  background-color: white;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  scroll-behavior: smooth;
  outline: 10px solid lightgray;
  overflow-y: auto;
}
body:after {
  display: flex;
  content: "";
  background: url(assets/Pattern.svg);
  background-repeat: repeat;
  background-size: var(--header-logo-size);
  opacity: 0.05;
  top: 0;
  width: 100%;
  margin:auto;
  height: 100%;
  position: fixed;
  z-index: -1;
}

/* :lang(zh-Hant) 	{font-family: Kai,KaiTi,serif;}
:lang(zh-Hans) 	{font-family: STSong,SimSun,serif;} */
/* Language support */
@keyframes fadeInAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* @keyframes bgLinear {
  from {background-position: 0 0;}
  to {background-position: 100px 0;}
} */
@keyframes bgLinear {
  from {transform: translateX(calc(var(--header-logo-size) * (-5)));}
  to {transform: translateX(calc(var(--header-logo-size) * (-4)));}
}




/* HEADER STUFF */
#header-nav {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: -10rem;
  min-width: 550px;
  width: 100%;
  height: calc(var(--header-nav-height) - 1rem);
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  overflow: hidden;
}

#header-nav:after {
  display: flex;
  content: "";
  background: url(assets/Pattern.svg);
  background-repeat: repeat;
  background-size: var(--header-logo-size);
  opacity: 0.2;
  position: relative;
  top: calc((var(--header-nav-height) * -1));
  width: 500%;
  margin:auto;
  height: calc(var(--header-nav-height));
  z-index: -10;
  animation: bgLinear 2.5s linear infinite;
  will-change: auto;
}


/* This is for the title and logo columns */
.header-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  overflow-y: hidden;
  position: relative;
  top: 0px;
  /* background-color: red; */
  margin: auto;
  padding: 0px 2rem;
  border-bottom: 2px solid lightgray;
  height: calc(var(--header-nav-height) - 7rem);
}
.header-column-l {
  flex: 45%;
}
.header-column-r {
  flex: 45%;
  text-align:right;
}



/* Navigation bar */
ul.nav {
  display: table;
  list-style-type: none;
  vertical-align: middle;
  width: 80%;
  margin: auto;
  padding: 0;
  background-color: white;
  position: relative;
  top: 0.5rem;
}

#nav {
  height: 5rem;
}
ul.nav li {
  display: table-cell;
  /* justify-content: space-around; */
  text-align: center;
  align-items: middle;
  border-right: solid 2px lightgray;
  /* height: 80%; */
  width: 15%;
  max-width: 110px;
}
ul.nav li:first-child {  border-left: solid 2px lightgray;}
ul.nav li div {
  padding: 1rem;
  margin: auto;
}
ul.nav li a {
  text-decoration: none;
}
ul.nav li.inactive div:hover {
  transform: scale(1.2);
  background-color: AliceBlue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color .3s, box-shadow .3s, transform .3s;
  z-index: 8;
}
ul.nav li.active div {
  height: 110%;
  background-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: auto;
}



h1 {
  font-size: var(--header-font-size);
  color: MidnightBlue;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
  color: #555
}


.header-logo {
  width: var(--header-logo-size)
}




#content {
  padding-top: 80px;
  margin: -30px 0px 0px 0px;
  z-index: -2;
}



img {
  vertical-align: top;
  overflow: hidden;
}


.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 .5vh .3vh #ccc; border: 0.5vh solid #222; */
}
.pattern-filled {
  width:100%; 
  background-image: url('assets/Pattern.svg');
  background-size: var(--header-logo-size);
}



hr {
    border: none;
    border-top: 2px solid lightgray;
    overflow: visible;
    text-align: center;
    height: 2px;
    background-color: MidnightBlue;
}


a {
  color: MidnightBlue
}
a:hover {
  background-color: AliceBlue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 1s, box-shadow 1s;
}






/* CARDS */
.card {
  width:80%;
  margin: auto;
  display: block;
  overflow: hide;
  background-color: white;
}
.card:hover {
  transform: scale(1.02);
  transition: background-color .5s, transform .5s;
}

.card p {
  font-size: 1rem;
}
.card h2 {
  margin-block-start: 0;
  font-size: 1.25em;
}


.card-content {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: AliceBlue;
}
.card-content img {
  object-fit: cover;
  overflow: hidden;
  width: 60em;
  height: 25em;
  object-position: center;
}
.card-content .card-text {
  color:black;
  padding:3rem;
  text-align: left;
}

.card-content .banner-image {
  background-color: red;
  position: relative;
  object-fit: cover;
  object-position: left;
}

@media screen and (max-width: 800px) {
 .card-content {
    display: block;
  }
 .card-content img {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 20em;
  max-height: 30em;
 }
}




.project {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: end;
  margin: -10px 0px 0px 0px;
  padding-top: 2em;
  background-color: white;
}

.project > h2 {
  font-size: 150%;
}
.project > h2,h3 {
  margin: 0 5% 0 5%;
  margin-block-start: 0;
  text-align: center;
}
.project .description {
  text-align: left;
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}


.project-halves {
  display: flex;
  flex-direction: row;
}
.project.left-half, .project.right-half {
  text-align: center;
  width: 50%;
  /* height: 50rem; */
}

.single-photo {
  width: 80%;
  margin-bottom: 4rem;
  margin-top: 0;
}

.single-photo img {
  width: 100%;
  /* max-height: 25rem;
  object-fit: scale-down; */
}



/* The element to apply the animation to */
.background-highlight {
  animation-name: background-highlight;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width:100%; margin:auto; padding: 10px 0;
}
/* The animation code */
@keyframes background-highlight {
  0% {background-color: #ddd;}
  50% {background-color: #eee;}
  100% {background-color: #ddd;}
}







.footer {
  border-top: 10px solid white;
  height:5em; display:flex;
  align-items: center; width:100%; margin: auto;
  /* animation: bgLinear 1s linear infinite; */
  will-change: auto;
  z-index: -2;
  scroll-snap-align: bottom;
}
p.copyright {
  background-color: white;
  display: block;
  width: 40%;
  padding: 0.5em;
  font-size: 80%;
  text-align: center;
  /* border-radius: 10px; */
  margin:auto;
}
